@import '../../../../../shared/application/theme/colors.scss';

.dashboard-tasks-container{
	
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px
;
}

.tasks-button{
	position: fixed;
	right: 3rem;
    bottom: 3rem;
}

.pdf-button{
	position: fixed;
	left: 3rem;
    bottom: 3rem;
}

.email-button{
	position: fixed;
	left: 3rem;
    bottom: 9rem;
}

.task-loader{
    margin-top: 50px;
}