@import "../../../../shared/application/theme/colors.scss";
@import "../../../../shared/application/theme/mixins";
@import "../../../../shared/application/theme/animations.scss";


.app-layout{
   display: flex;
  >.menu{
    width: 400px;
    height: 100vh;
    background-color:$primary;
  }
  >.container{
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}