@import "../../../../shared/application/theme/colors.scss";


.delete-task-container{

	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

	>.button__container{
		display: flex;
    width: 15%;
    justify-content: space-around;
    margin-top: 15px;
	}

}